<form id="formularz_logowania" class="formularz" action="?action=Registration&base=Login" method="POST">
	<p>Rejestracja</p>
	<input name="email" type="text" placeholder="email" autofocus>
	<input name="password" type="password" placeholder="hasło">
	<input name="password2" type="password" placeholder="powtórz hasło">
	<input name="first_name" type="text" placeholder="imię">
	<input name="last_name" type="text" placeholder="nazwisko">
	<br>
	<label for="gender">Płeć</label>
	<select name="gender">
		<option value="0"></option>
		<option value="1">boy</option>
		<option value="2">girl</option>
	</select>
	<input type="submit" value="Zarejestruj">
</form>'