<form id="formularz_logowania" class="formularz" action="?action=ChangePassword&base=Login" method="POST">
	<p>Zmiana hasła</p>
	<input type="hidden" name="id" value="#id#">
	<input type="hidden" name="email" value="#email#">
	<input type="hidden" name="resetPasswordEmail" value="#resetPasswordEmail#">
	<p>email: #email#</p>
	<input name="old_password" type="password" placeholder="dotychczasowe hasło" autofocus>
	<input name="password" type="password" placeholder="nowe hasło">
	<input name="password2" type="password" placeholder="powtórz nowe hasło">
	<input type="submit" value="Zmień hasło">
</form>