<!doctype html>
<HTML lang="pl-PL">
	<head>
		<meta name="author" content="Rafał Zaleski">
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Panda group</title>
		<meta name="description" content="Opis strony">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--<link rel="Shortcut icon" href="img/logo.ico">-->
		<link rel="stylesheet" href="css/style.css">
		<!--<link rel="manifest" href="/manifest.json">-->
		<script src="js/js.js" defer=""></script>
	</head>
	
	<body>
		<header>			
			<nav>
				#is_login#
				<a href="?action=Get&base=News" class="nav_el">Newsy</a>
			</nav>
			<a href="#act#" id="login" class="classic_button text_black">#button#</a>
		</header>
		<main>
		
